@using Microsoft.AspNetCore.Identity;
@inject UserManager<Usuario> UserManager
@model ICollection<RecommenduWeb.Models.ReportPostagemNegativa>

@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>
            Id Report
        </th>
        <th>
            Data Report
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        var user = await UserManager.FindByIdAsync(item.UsuarioId);
        ViewData["ReportId"] = item.ReportId;
        ViewData["PostId"] = item.PostagemId;
        ViewData["Categoria"] = item.Categoria;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtReport)
            </td>
            <td>
                <a class="link-dark" asp-controller="Postagens" asp-action="Details" asp-route-id="@item.PostagemId" asp-route-cat="@item.Categoria">Ver publicação</a>
            </td>
            <td>
                <a asp-action="EnviarReview" class="btn btn-sm btn-dark" asp-route-valor="0" asp-route-texto="@item.Descricao">Positivo</a>
                <a asp-action="EnviarReview" class="btn btn-sm btn-outline-dark" asp-route-valor="1" asp-route-texto="@item.Descricao">Negativo</a>
            </td>
            <td>
                <a asp-action="RemoverDaLista" class="text-warning" asp-route-reportId="@item.ReportId">Remover da lista de report</a>
            </td>
            <td>
                <a class="text-danger" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#modalConfirmDelete">Deletar publicação</a>
            </td>
        </tr>
    }
</table>

<div id="modalConfirmDelete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deseja deletar a publicação?</h5>
                <button type="button" class="btn btn-close float-end" data-bs-dismiss="modal"></button>
            </div>
            <div class="row p-3">
                <div class="col d-flex justify-content-evenly">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a asp-action="DeletarPostagem" class="btn btn-danger py-2" asp-route-reportId="@ViewData["ReportId"]" asp-route-postId="@ViewData["PostId"]" asp-route-cat="@ViewData["Categoria"]">Deletar Publicação</a>
                </div>
            </div>
        </div>
    </div>
</div>
