@page
@model LoginModel

@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<div class="bg-login">
</div>
<div class="container-fluid text-center">
    <a class="btn link-voltar" onclick="location.href='@Url.Action("Index", "Home")'">Voltar</a>
    <div class="row">
        <div class="col-sm-6 pe-5 text-white">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Resources/SiteImages/LogoReverso.png" class="img-login" alt="Imagem responsiva" /></a>
                <h1 class="my-5"><b>Bem vindo de volta!</b></h1>
                <h3>
                    <p>Para se manter conectado conosco, faça o login com suas informações pessoais</p>
                    <p class="mt-7">Caso não possua conta faça o seu registro</p>
                </h3>
                <a class="btn btn-secondary mt-5 p-2" asp-area="Identity" asp-page="/Account/Register">Registrar-se</a>
            </div>
        </div>
        <div class="col-md-6 ps-5 mt-4">
            <section>
                <form id="account" method="post">
                    <h1 class="text-start mb-6">Login</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-4 d-flex justify-content-end">
                        <input asp-for="Input.Login" class="form-control" autocomplete="login" aria-required="true" placeholder="Usuário ou Email" />
                        <label asp-for="Input.Login" class="form-label mx-7">Login <span style="color: gray">(Usuário ou Email)</span></label>
                        <span asp-validation-for="Input.Login" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4 d-flex justify-content-end">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label mx-7">Senha</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-1 text-center me-6">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <p class="text-end me-5">
                            <a id="forgot-password" class="link-primary-1" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                            <a id="resend-confirmation" class="link-primary-1" asp-page="./ResendEmailConfirmation">Reenviar email de confirmação</a>
                        </p>
                        @*<p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>*@
                    </div>
                    <div class="text-end">
                        <button id="login-submit" type="submit" class="w-70 btn btn-secondary">Log in</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }


@*<div id="JanelaLogin" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body-home row">
                <!--Bloco do lado esquerdo do modal de login-->
                <div class="col-sm-5 bg-black text-light text-center">
                    <img src="/Resources/SiteImages/LogoReverso.png" class="img-logo-reverso mt-3" />
                    <h3>Bem vindo de volta!</h3><br />
                    <h6>
                        <p class="mt-0">Para se manter conectado<br />conosco, faça o login com suas<br />informações pessoais</p><br /><br /><br /><br />
                        <p class="mb-4">Caso não possua conta faça o<br /> seu registro</p>
                    </h6>
                    <a class="nav-link text-white btn btn-secondary mb-5 mx-auto" asp-area="Identity" asp-page="/Account/Register">REGISTRAR-SE</a>
                </div>
                <!--Bloco do lado direito do modal de lopin-->
                <div class="col-sm-7">
                    <button type="button" class="btn btn-close col-sm-6 float-end" data-bs-dismiss="modal"></button><br />
                    <h2 class="ms-sm-5">Login</h2><br />
                    <div class="row my-sm-4">
                        <div class="text-sm-center mt-sm-4">
                            <form id="account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Login" class="form-control" autocomplete="login" aria-required="true" placeholder="usuário ou email" />
                                    <label asp-for="Input.Login" class="form-label">Login <span style="color: gray">(usuário ou email)</span></label>
                                    <span asp-validation-for="Input.Login" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password" class="form-label">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="checkbox mb-3 text-sm-start">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div>
                                    <p>
                                        <a id="forgot-password" class="link-primary-1" asp-page="./ForgotPassword">Recuperar acesso</a>
                                    </p>
                                    <p>
                                        <a id="resend-confirmation" class="link-primary-1" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                    </p>
                                </div>
                                <div>
                                    <button id="login-submit" type="submit" class="btn btn-secondary mt-sm-0 mb-sm-5">Log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }*@
