@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager
@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center p-3">
    <div class="col-3">
        <img src="~/Resources/ProfileImages/@Model.FotoPerfil" class="rounded-circle" width="200" height="200" asp-append-version="true" />
        @{
            var userName = SignInManager.UserManager.GetUserName(User);
            if (userName == Model.UserName)
            {

                @if (Model.FotoPerfil.Contains("default-profile-image"))
                {
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("DeletarFoto", "Usuarios")'" disabled="true">Excluir foto</button>
                }
                else
                {
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("DeletarFoto", "Usuarios")'">Excluir foto</button>
                }
                <form asp-action="AtualizarFoto" enctype="multipart/form-data">
                    <div class="form-control">
                        <label asp-for="PerfilFile" class="control-label">Escolha uma foto:</label>
                        <input asp-for="PerfilFile" class="form-control" />
                        <span asp-validation-for="PerfilFile" class="text-danger"></span>
                        <input type="submit" id="btnSubmit" value="Atualizar" class="btn btn-primary" />
                    </div>
                </form>
                <p>
                    <a asp-action="Create" asp-controller="Postagens" class="btn btn-dark">Nova publicação</a>
                </p>
            }
        }
    </div>
    <div class="col-3 m-5">
        <h1>@Model.NomeCompleto</h1>
        <h2>@@@Model.UserName</h2>
        <h2 class="text-success">Reputação: @Model.Reputacao</h2>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                Data de Publicação
            </th>
            <th>
                Usuário
            </th>
            <th>
                Categoria
            </th>
            <th>
                Produto
            </th>
            <th>
                Descrição
            </th>
            <th>
                Público Alvo
            </th>
            <th>
                Fabricante
            </th>
            <th>
                Link do Produto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostagemProduto)
        {
            string tempo = PostService.TempoPostagem(item.DtPostagem);
            <tr>
                <td>
                    <img src="~/Resources/PostImages/@item.ImgPostagem" class="rounded-circle" width="50" height="50" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicoAlvo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fabricante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkProduto)
                </td>
                <td>
                    <a asp-controller="Postagens" asp-action="Edit" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Edit</a> |
                    <a asp-controller="Postagens" asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Details</a> |
                    <a asp-controller="Postagens" asp-action="Delete" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                Data de Publicação
            </th>
            <th>
                Usuário
            </th>
            <th>
                Categoria
            </th>
            <th>
                Serviço
            </th>
            <th>
                Descrição
            </th>
            <th>
                Público Alvo
            </th>
            <th>
                Endereco
            </th>
            <th>
                Contato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostagemServico)
        {
            string tempo = PostService.TempoPostagem(item.DtPostagem);
            <tr>
                <td>
                    <img src="~/Resources/PostImages/@item.ImgPostagem" class="rounded-circle" width="50" height="50" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => tempo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicoAlvo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contato)
                </td>
                <td>
                    <a asp-controller="Postagens" asp-action="Edit" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Edit</a> |
                    <a asp-controller="Postagens" asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Details</a> |
                    <a asp-controller="Postagens" asp-action="Delete" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>