@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager
@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Meu Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row mt-5">
        <div class="col-4">
            @{
                var userName = SignInManager.UserManager.GetUserName(User);
                if (userName == Model.UserName)
                {
                    <div class="index-user p-4">
                        <img src="~/Resources/ProfileImages/@Model.FotoPerfil" class="rounded-circle avatar-circle" width="250" height="250" asp-append-version="true" />
                        <div class="d-flex flex-column">
                            <form asp-action="AtualizarFoto" enctype="multipart/form-data">
                                <input asp-for="PerfilFile" class="form-control mt-4-5 w-100" />
                                <span asp-validation-for="PerfilFile" class="text-danger"></span>
                                <input type="submit" id="btnSubmit" value="Atualizar Foto" class="btn btn-primary my-5 w-100" />
                            </form>
                            @if (Model.FotoPerfil.Contains("default-profile-image"))
                            {
                                <button class="btn btn-danger" onclick="location.href='@Url.Action("DeletarFoto", "Usuarios")'" disabled="true">Deletar Foto</button>
                            }
                            else
                            {
                                <button class="btn btn-danger" onclick="location.href='@Url.Action("DeletarFoto", "Usuarios")'">Deletar Foto</button>
                            }
                        </div>
                    </div>
                    <p>
                        <a class="nav-link d-flex justify-content-center text-white btn btn-secondary my-3 w-100" asp-area="Identity" asp-page="/Account/Manage/Index">Configurações</a>
                        <button class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#modalLogout">Sair</button>
                    </p>
                }
                else
                {
                    <div class="index-view-user">
                        <img src="~/Resources/ProfileImages/@Model.FotoPerfil" class="rounded-circle avatar-circle" width="60%" height="100%" asp-append-version="true" />
                        <div class="d-flex flex-column">
                        </div>
                    </div>
                    <div class =" index-view-opt d-flex align-items-center flex-column justify-content-between">
                    <a class="btn btn-view-post fs-6 w-100" asp-controller="Postagens" asp-action="Index" asp-route-userName="@Model.UserName">Ver postagens</a>
                    </div>
                }
            }
        </div>
        <div class="col-lg-8 col-md-5">
            <div class="index-user-title text-start">
                <h1>@Model.NomeCompleto</h1>
                <h2>@@@Model.UserName</h2>
                <h2 class="text-success">Reputação: @Model.Reputacao</h2>
            </div>
            <div class="index-user-emblemas">
                <h1>Emblemas</h1>
                <div class="row d-flex justify-content-evenly align-content-center mt-5">

                    <div class="emblema-group col-4">
                        @if (Model.Reputacao >= 500)
                        {
                            <div class="emblema-img">
                                <img src="~/Resources/SiteImages/emblema-1.png" class="rounded-circle" width="150" height="150" asp-append-version="true" />
                            </div>
                            <div class="emblema-desc">
                                <h5>Estreante</h5>
                            </div>
                        }
                        else
                        {
                            <div class="emblema-img">
                                <div class="sem-emblema"></div>
                            </div>
                            <div class="emblema-desc">
                                <p>Reputação 500 para obter a conquista</p>
                            </div>
                        }
                    </div>
                    <div class="emblema-group col-4">
                        @if (Model.Reputacao >= 5000)
                        {
                            <div class="emblema-img">
                                <img src="~/Resources/SiteImages/emblema-2.png" class="rounded-circle" width="150" height="150" asp-append-version="true" />
                            </div>
                            <div class="emblema-desc">
                                <h5>Engajado</h5>
                            </div>
                        }
                        else
                        {
                            <div class="emblema-img">
                                <div class="sem-emblema"></div>
                            </div>
                            <div class="emblema-desc">
                                <p>Reputação 5.000 para obter a conquista</p>
                            </div>
                        }
                    </div>
                    <div class="emblema-group col-4">
                        @if (Model.Reputacao >= 50000)
                        {
                            <div class="emblema-img">
                                <img src="~/Resources/SiteImages/emblema-3.png" class="rounded-circle" width="150" height="150" asp-append-version="true" />
                            </div>
                            <div class="emblema-desc">
                                <h5>Referência</h5>
                            </div>
                        }
                        else
                        {
                            <div class="emblema-img">
                                <div class="sem-emblema"></div>
                            </div>
                            <div class="emblema-desc">
                                <p>Reputação 50.000 para obter a conquista</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalLogout" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sair da conta</h5>
                    <button type="button" class="btn btn-close float-end" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body flex-column row text-center">
                <img src="~/Resources/SiteImages/alert-triangle.svg" class="emblema-img align-self-center"/>
                <h5>Tem certeza que deseja sair da sua conta?</h5>
            </div>
            <div class="row p-3">
                <form class="form-inline d-flex justify-content-between" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                    <button type="button" class="btn btn-outline-secondary col-4" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger text-white col-3">Sair</button>
                </form>
            </div>
        </div>
    </div>
</div>