@model RecommenduWeb.Models.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuarios</h1>

<div>
    <form asp-action="Usuarios" method="get">
        <span class="btn-group">
            <input class="form-control" type="search" value="@ViewData["usuarioAtual"]" name="nomeUsuario" placeholder="Procure pelo nome do usuario" />
            <input class="btn btn-sm btn-primary" type="submit" value="Buscar" />
        </span>
    </form>
</div>

@if (Model != null && Model.Usuario.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagem
                </th>
                <th>
                    Nome do usuário
                </th>
                <th>
                    Nome completo
                </th>
                <th>
                    Reputação
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Usuario)
            {
                <tr>
                    <td>
                        <img src="~/Resources/ProfileImages/@item.ImagemPerfil" class="rounded-circle" width="50" height="50" asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-controller="Usuarios" asp-action="Index" asp-route-userName="@item.UserName">@Html.DisplayFor(modelItem => item.UserName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reputacao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model != null && Model.Usuario.Count == 0)
{
    <div class="bg-info" style="height: 50px; width: 300px;">
        <p>Nenhum resultado encontrado.</p>
    </div>
}