@model RecommenduWeb.Models.ViewModels.PostagemViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h2 style="color: red">Slide 8</h2>

<div>
    <h4>Postagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicoAlvo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicoAlvo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtPostagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtPostagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curtidas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curtidas)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-cat="@Model.Categoria" asp-route-id="@Model.PostagemId">Edit</a>
    <input type="button" class="btn btn-outline-dark" onclick="history.go(-1)" value="voltar" />
</div>
