@using Microsoft.AspNetCore.Identity;
@inject RecommenduWeb.Services.PostService PostService
@inject SignInManager<Usuario> SignInManager
@model RecommenduWeb.Models.ViewModels.PostagemViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = await SignInManager.UserManager.GetUserAsync(User);
    if (ViewData["UserName"] == user.UserName)
    {
        <h1>Minhas publicações</h1>
    }
    else
    {
        <h1>Publicações de @ViewData["UserName"]</h1>
    }
}


<div class="container-fluid mt-6">
    <div class="row">
        <div class="col-2 text-center">
            @if (ViewData["UserName"] == user.UserName)
            {
                <a class="btn btn-new-pub me-6" asp-action="Create" asp-controller="Postagens">Nova publicação</a>
            }
            <button class="btn btn-filtro fs-6 my-4" id="btnProdutos" onclick="MostrarPost(1)">Mostrar produtos</button>
            <button class="btn btn-filtro fs-6" id="btnServicos" onclick="MostrarPost(2)">Mostrar serviços</button>
        </div>
        <div class="col-10 d-flex justify-content-center ms-7">
            <div id="divProdutos" hidden="true">
                @if (Model.PostagemProduto.Count > 0)
                {
                    foreach (var item in Model.PostagemProduto)
                    {
                        string tempo = PostService.TempoPostagem(item.DtPostagem);
                        <div class="card-pub">
                            <div class="card-pub-1 text-light">
                                <div class="card-title text-center">@Html.DisplayFor(modelItem => item.Titulo)</div>
                                <div class="card-seta"></div>
                                <img src="~/Resources/PostImages/@item.ImgPostagem" class="card-img" asp-append-version="true" />
                            </div>
                            <div class="card-pub-2 p-2">
                                <div class="text-black">
                                    <div class="text-start">
                                        <img src="~/Resources/ProfileImages/@item.Usuario.ImagemPerfil" class="rounded-circle avatar-circle card-ava" asp-append-version="true" />
                                        <b>@Html.DisplayFor(modelItem => item.Usuario.UserName)</b>
                                        <div class="float-end me-2 mt-2 fs-6">@Html.DisplayFor(modelItem => tempo)</div>
                                    </div>
                                </div>
                                <div class="text-start my-3">
                                    <h6 class="p-1 fs-6">
                                        Público Alvo: @Html.DisplayFor(modelItem => item.PublicoAlvo)
                                    </h6>
                                    <h6 class="p-1 fs-6">
                                        Categoria: @Html.DisplayFor(modelItem => item.Categoria)
                                    </h6>
                                    <h6 class="p-1 fs-6">
                                        Curtidas obtidas: @Html.DisplayFor(modelItem => item.Curtidas)
                                    </h6>
                                </div>
                                <div class="my-4 mx-1">
                                    <a class="link-primary-1 fs-6" asp-controller="Postagens" asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Ver completo</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="bg-light p-2 fw-bold border shadow-sm" style="height: 50px; width: 300px;">
                        <p>Ainda não há produtos.</p>
                    </div>
                }
            </div>
            <div id="divServicos" hidden="true">
                @if (Model.PostagemServico.Count > 0)
                {
                    @foreach (var item in Model.PostagemServico)
                    {
                        string tempo = PostService.TempoPostagem(item.DtPostagem);
                        <div class="card-pub">
                            <div class="card-pub-1 text-light">
                                <div class="card-title text-center">@Html.DisplayFor(modelItem => item.Titulo)</div>
                                <div class="card-seta"></div>
                                <img src="~/Resources/PostImages/@item.ImgPostagem" class="card-img" asp-append-version="true" />
                            </div>
                            <div class="card-pub-2 p-2">
                                <div class="text-black">
                                    <div class="text-start">
                                        <img src="~/Resources/ProfileImages/@item.Usuario.ImagemPerfil" class="rounded-circle avatar-circle card-ava" asp-append-version="true" />
                                        <b>@Html.DisplayFor(modelItem => item.Usuario.UserName)</b>
                                        <div class="float-end me-2 mt-2 fs-6">@Html.DisplayFor(modelItem => tempo)</div>
                                    </div>
                                </div>
                                <div class="text-start my-3">
                                    <h6 class="p-1 fs-6">
                                        Público Alvo: @Html.DisplayFor(modelItem => item.PublicoAlvo)
                                    </h6>
                                    <h6 class="p-1 fs-6">
                                        Categoria: @Html.DisplayFor(modelItem => item.Categoria)
                                    </h6>
                                    <h6 class="p-1 fs-6">
                                        Curtidas obtidas: @Html.DisplayFor(modelItem => item.Curtidas)
                                    </h6>
                                </div>
                                <div class="my-4 mx-1">
                                    <a class="link-primary-1 fs-6" asp-controller="Postagens" asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Ver completo</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="bg-light p-2 fw-bold border shadow-sm" style="height: 50px; width: 300px;">
                        <p>Ainda não há serviços.</p>
                    </div>
                }
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            <script scr="~/js/site.js"></script>
        }
    }
