@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.PostagemViewModel
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produtos</h1>
<div>
    <form asp-action="Produtos" method="get">
        <span class="btn-group">
            <input class="form-control" type="search" value="@ViewData["tituloAtual"]" name="titulo" placeholder="Procure pelo nome do produto" />
            <input class="btn btn-sm btn-primary" type="submit" value="Buscar" />
        </span>
    </form>
    <a asp-action="Produtos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-filtro="recentes">Mais recentes</a>
    <a asp-action="Produtos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-filtro="relevantes">Mais relevantes</a>
</div>

@if (Model != null && Model.PostagemProduto.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagem
                </th>
                <th>
                    Data de Publicação
                </th>
                <th>
                    Usuário
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Titulo
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Público Alvo
                </th>
                <th>
                    Fabricante
                </th>
                <th>
                    Link do Produto
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PostagemProduto)
            {
                string tempo = PostService.TempoPostagem(item.DtPostagem);
                <tr>
                    <td>
                        <img src="~/Resources/PostImages/@item.ImgPostagem" class="rounded-circle" width="50" height="50" asp-append-version="true" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tempo)
                    </td>
                    <td>
                        <a asp-controller="Usuarios" asp-action="Index" asp-route-userName="@item.Usuario.UserName">@Html.DisplayFor(modelItem => item.Usuario.UserName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicoAlvo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabricante)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.LinkProduto)" target="_blank">@Html.DisplayFor(modelItem => item.LinkProduto)</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Ver completo</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model != null && Model.PostagemProduto.Count == 0)
{
    <div class="bg-info" style="height: 50px; width: 300px;">
        <p>Nenhum resultado encontrado.</p>
    </div>
}