@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.PostagemViewModel
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Buscar produtos</h1>
    <form asp-action="Produtos" method="get">
        <div class="row col-3">
            <input class="form-control" type="search" value="@ViewData["tituloAtual"]" name="titulo" placeholder="Nome do produto" />
            <input class="btn-search" type="submit" />
        </div>
    </form>
    <div class="dropdown show mt-4 col-4">
        <a class="btn btn-filtro dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-action="Produtos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-filtro="recentes">Mais recentes</a>
            <a class="dropdown-item" asp-action="Produtos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-filtro="relevantes">Mais relevantes</a>
        </div>
    </div>
</div>

<div class="col-8 d-flex justify-content-center ms-7">
    @if (Model != null && Model.PostagemProduto.Count > 0)
    {
        @foreach (var item in Model.PostagemProduto)
        {
            string tempo = PostService.TempoPostagem(item.DtPostagem);

            <div class="card-pub mt-6">
                <div class="card-pub-1 text-light">
                    <div class="card-title text-center">@Html.DisplayFor(modelItem => item.Titulo)</div>
                    <div class="card-seta"></div>
                    <img src="~/Resources/PostImages/@item.ImgPostagem" class="card-img" asp-append-version="true" />
                </div>
                <div class="card-pub-2 p-2">
                    <div class="text-black">
                        <div class="text-start">
                            <img src="~/Resources/ProfileImages/@item.Usuario.ImagemPerfil" class="rounded-circle avatar-circle card-ava" asp-append-version="true" />
                            <b>@Html.DisplayFor(modelItem => item.Usuario.UserName)</b>
                            <div class="float-end me-2 mt-2 fs-6">@Html.DisplayFor(modelItem => tempo)</div>
                        </div>
                    </div>
                    <div class="text-start my-3">
                        <h6 class="p-1 fs-6">
                            Público Alvo: @Html.DisplayFor(modelItem => item.PublicoAlvo)
                        </h6>
                        <h6 class="p-1 fs-6">
                            Categoria: @Html.DisplayFor(modelItem => item.Categoria)
                        </h6>
                        <h6 class="p-1 fs-6">
                            Curtidas: @Html.DisplayFor(modelItem => item.Curtidas)
                        </h6>
                    </div>
                    <div class="my-4 mx-1">
                        <a class="link-primary-1 fs-6" asp-controller="Postagens" asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Ver completo</a>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model != null && Model.PostagemProduto.Count == 0)
    {
        <div class="bg-light p-2 fw-bold border shadow-sm not-result">
            <p>Nenhum resultado encontrado.</p>
        </div>
    }
</div>