@inject RecommenduWeb.Services.PostService PostService
@model RecommenduWeb.Models.ViewModels.PostagemViewModel
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Serviços</h1>

<div class="row col-4">
    <form asp-action="Servicos" id="formServicos" method="get">
        <span class="btn-group">
            <input class="form-control" type="search" value="@ViewData["tituloAtual"]" id="srcTitulo" name="titulo" placeholder="Procure pelo nome do serviço" />
            <input class="btn btn-primary" type="submit" value="Buscar" />
        </span>
        <label for="ddlEstados">Estado:</label>
        @Html.DropDownList("GetEstados", (IEnumerable<SelectListItem>)ViewBag.GetEstados, new {@class="form-control", id="ddlEstados", @onChange="ListarCidades()"})
        <label for="ddlCidades">Cidade:</label>
        @Html.DropDownList("GetCidades", (IEnumerable<SelectListItem>)ViewBag.GetCidade, new {@class="form-control", id="ddlCidades", @name="GetCidades"})
    </form>
</div>
<a asp-action="Servicos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-GetEstados="@ViewData["estadoAtual"]" asp-route-GetCidade="@ViewData["cidadeAtual"]" asp-route-filtro="recentes">Mais recentes</a>
<a asp-action="Servicos" asp-route-titulo="@ViewData["tituloAtual"]" asp-route-GetEstados="@ViewData["estadoAtual"]" asp-route-GetCidade="@ViewData["cidadeAtual"]" asp-route-filtro="relevantes">Mais relevantes</a>

@if (Model != null && Model.PostagemServico.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Imagem
                </th>
                <th>
                    Data de Publicação
                </th>
                <th>
                    Usuário
                </th>
                <th>
                    Categoria
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Público Alvo
                </th>
                <th>
                    Cidade
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Contato
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PostagemServico)
            {
                string tempo = PostService.TempoPostagem(item.DtPostagem);
                <tr>
                    <td>
                        <img src="~/Resources/PostImages/@item.ImgPostagem" class="rounded-circle" width="50" height="50" asp-append-version="true" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tempo)
                    </td>
                    <td>
                        <a asp-controller="Usuarios" asp-action="Index" asp-route-userName="@item.Usuario.UserName">@Html.DisplayFor(modelItem => item.Usuario.UserName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicoAlvo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contato)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-cat="@item.Categoria" asp-route-id="@item.PostagemId">Ver completo</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model != null && Model.PostagemServico.Count == 0)
{
    <div class="bg-info" style="height: 50px; width: 300px;">
        <p>Nenhum resultado encontrado.</p>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script scr="~/js/site.js"></script>
    }
}